*{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.container{
    text-align: center;
}

.container-game{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game{
    width: 60%;
}

h1{
    margin: 50px 0;
    font-size: 32px;
}

.enteries__container{
    display : flex;
    justify-content: center;
}

.enteries__container .enteries__element{
    margin: 0 10px;
    padding: 20px 10px 0 10px;
    border : 1px solid black;
    border-radius: 5px;
}

.score {
    margin-bottom: 20px;
}

.difficulties {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 25px auto;
}

.difficulty {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.easy {
    background-color: green;
}

.medium {
    background-color: orange;
}

.hard {
    background-color: red;
}

.leaderboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leaderboard h3{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.leaderboard h3::after {
    content: " :";
}

table, thead,  th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px 20px;
}

.pendu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pendu-img{
    height: 250px;
}
